.logout-button {
    float: right;
    padding-top: 26px;
}

.content-section {
    padding-top: 20%;
    padding-bottom: 20px;
    .remove-icon {
        float: right;
    }
    .mat-expansion-panel {
        background-color: #09050512;
        margin-bottom: 20px;
    }
}